- name: install python 2/3
  package: name={{item}} state=present
  with_items:
    - python2
    - python3
    - python3-pip
    - python-dmidecode-data 

- name: create pip config
  copy:
    src: "pip.conf"
    dest: "/etc/pip.conf"

- name: install dependencies for mountopts-module
  pip: name=fstab
